---
import type { Locale } from '../config';
import { formatDate, isoDate, useTranslations } from '../i18n/utils';
import type { Post } from '../utils/posts';
import { Icon } from 'astro-icon/components';

interface Props {
  post: Post;
  locale: Locale;
  readingMinutes: number;
}

const { post, locale, readingMinutes } = Astro.props;
const t = useTranslations(locale);
---

<div class="text-base-content/70 flex flex-wrap items-center gap-x-4 gap-y-2 text-sm">
  <span class="flex items-center gap-1">
    <Icon name="lucide:clock" width={14} height={14} />
    <time datetime={isoDate(post.data.pubDate)}>
      {t('post.publishedOn')}
      {formatDate(post.data.pubDate, locale)}
    </time>
  </span>
  {
    post.data.updatedDate && (
      <span class="flex items-center gap-1">
        <Icon name="lucide:check" width={14} height={14} />
        <time datetime={isoDate(post.data.updatedDate)}>
          {t('post.updatedOn')} {formatDate(post.data.updatedDate, locale)}
        </time>
      </span>
    )
  }
  <span class="flex items-center gap-1">
    {readingMinutes}
    {t('post.readingTime')}
  </span>
</div>
